src/main/resources/wsdl/countryDetails.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.safa.com/country/soap/ws/countryDetails"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.safa.com/country/soap/ws/countryDetails"
	targetNamespace="http://www.safa.com/country/soap/ws/countryDetails">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.safa.com/country/soap/ws/countryDetails">
			<xsd:element name="countryDetailsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="countryName" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCountryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="country" type="tns:country" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="country">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="population" type="xsd:int" />
					<xsd:element name="capital" type="xsd:string" />
					<xsd:element name="currency" type="tns:currency" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="currency">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="GBP" />
					<xsd:enumeration value="EUR" />
					<xsd:enumeration value="PLN" />
					<xsd:enumeration value="TND" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getCountryResponse">
		<wsdl:part element="tns:getCountryResponse"
			name="getCountryResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="countryDetailsRequest">
		<wsdl:part element="tns:countryDetailsRequest"
			name="countryDetailsRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountryDetailsIndicator">
		<wsdl:operation name="getCountry">
			<wsdl:output message="tns:getCountryResponse"
				name="getCountryResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="countryDetails">
			<wsdl:input message="tns:countryDetailsRequest"
				name="countryDetailsRequest">
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountryDetailsIndicatorSoap11"
		type="tns:CountryDetailsIndicator">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCountry">
			<soap:operation soapAction="" />
			<wsdl:output name="getCountryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="countryDetails">
			<soap:operation soapAction="" />
			<wsdl:input name="countryDetailsRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountryDetailsIndicatorService">
		<wsdl:port binding="tns:CountryDetailsIndicatorSoap11"
			name="CountryDetailsIndicatorSoap11">
			<soap:address location="http://localhost:8081/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>